<div class="row row-cols-sm-auto input-group">
  <!-- <label class="form-check-label">
    {{labelText}}
  </label> -->
  <input class="form-control input" [placeholder]="placeholderText"
          [name]="nameText" [id]="idText"
          [type]="typeText" [formControlName]="formControlNameText"
          [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" />
  <button class="btnCalendar btn btn-outline-secondary bi bi-calendar3 "
          (click)="d.toggle()" type="button">
  </button>
</div>

<!-- Exibe o retorno selecionado do picker -->
<!-- <pre>Model: {{ model | json }}</pre> -->

<!-- placeholder="yyyy-mm-dd" -->
