.ok_btn{
  color: white;
  border-radius: 10px;
  border: none;
  width: 45%;
  padding: 10px;
  background: teal;
  box-shadow: 1px 5px 9px rgba(211, 211, 211, .9);
}

.cancel_btn{
  color: teal;
  border-radius: 10px;
  border: none;
  width: 45%;
  padding: 10px;
  background: white;
  box-shadow: 1px 5px 9px rgba(211, 211, 211, .9);
}

button:focus {
  border: 2px solid rgb(84, 170, 170);
  outline: none;
}

input:focus {
  border: 2px solid rgb(84, 170, 170);
  outline: none;
}

.checkbox-container {
  margin: 0 15px;
}

.checkbox-container label {
  margin: 0 15px;   /* Espaço entre os checkboxes */
 }

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 8px;
}

.svg-item {
  margin: 0 10px;
}

.column-label-width{
  width: 200px;
}

.centered-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 40vh; /* Altura igual à altura da viewport */
}

.centered-text {
  text-align: center; /* Alinha o texto ao centro */
  font-size: 30px; /* Tamanho da fonte do texto */
}

/* body {
 justify-content: center;
 align-items: center;
} */

/* .button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
} */

/* .input{
padding: 10px;
width: 300px;
border: 1px solid #DDDDDD;
border-radius: 15px;
margin-bottom: 15px;
} */

/* .datepicker input:focus {
  border: 1px solid teal;
  outline: none;
  } */

/* .btnCalendar{
  width: auto;
  border-color: #DDDDDD;
} */
