# See http://help.github.com/ignore-files/ for more about ignoring files.
# Logs
logs
*.log
npm-debug.log*

# Diretório do ambiente local
.env

# Diretórios e arquivos gerados pelo npm
node_modules/
package-lock.json

# Diretórios de build e output
dist/
out-tsc/
build/

# Diretórios do sistema operacional
.DS_Store
Thumbs.db

# Diretórios do IDE/editor
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Arquivos temporários
tmp/
temp/

# Cobertura de testes
coverage/

# Arquivos de configuração específicos do Angular
.angular/
.sass-cache/

# Outros arquivos temporários
*.tmp
*.bak

# Only exists if Bazel was run
/bazel-out

# profiling files
chrome-profiler-events*.json

# misc
/connect.lock
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
