<nav class="navbar navbar-expand-lg navbar-light bg-ligh fixed-topt">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">Minha App Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/task-list']">Lista de Tarefas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/task-list-material']">Lista de Tarefas (Material)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/task-form']">Cadastro/Edição de Tarefas</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/task-form/new']">Cadastro/Edição de Tarefas (Nova)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/task-form/edit/:id']">Cadastro/Edição de Tarefas (Editar)</a>
        </li> -->


        <!-- Exibe usuário logado. -->
        <ul [ngSwitch]="usuarioLogado()" class="navbar-nav">
          <li *ngSwitchCase="true" class="nav-item">
            <a class="nav-link text-dark" id="saudacoesUsuario" href="javascript:void(0)">{{email}}</a>
          </li>
          <li *ngSwitchCase="true" class="nav-item">
            <a class="nav-link text-dark" href="javascript:void(0)" (click)="logout()">
              Sair<span class="fas fa-sign-out-alt"></span>
            </a>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
