<!-- Navegação -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid" style="padding-left: 2%; padding-right: 2%;">

    <div class="col align-self-center text-start">
      <button class="custom-button" (click)="navigateBack()">
        <svg width="20" heigh="20" viewBox="0 0 448 512" class="navbar-brand">
          <path fill="#000000"
            d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
        </svg>
      </button>
    </div>


    <div class="col align-self-center text-center fw-bold">
      {{labelTitle}}
    </div>


    <div class="col align-self-center text-end">
      <button class="custom-button" (click)="navigateNew()">
        <svg width="20" heigh="20" viewBox="0 0 448 512" class="navbar-brand">
          <path fill="#000000"
            d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
        </svg>
      </button>
    </div>
  </div>
</nav>
